@import url(../public/fonts/satoshi.css);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/*font-family: 'JetBrains Mono', monospace;
font-family: 'Satoshi Regular';*/

body{
    background: linear-gradient(180deg, #101529 31.21%, #000 68.19%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    .mainContainer{
        max-width: 480px;
        width: 100%;
    }
}
.mainContainer{
    height: 90vh;
}

.display-none{
    display: none!important;
}

.visibility-hidden{
    visibility: hidden!important;
}
.show{
    
}

@media (min-width: 320px) and (max-width: 480px) {
   
}
